@font-face {font-family: "Akzidenz-Grotesk"; src: url('./fonts/ag-roman-webfont.woff') format("woff"); src: url("./fonts/ag-roman-webfont.ttf");}

body {
    background: linear-gradient(0deg, rgba(225,225,225,1) 0%, rgba(213,213,213,1) 20%, rgba(203, 203,203,1) 36%, rgba(162,162,162,1) 52%, rgba(150,150,150,1) 68%, rgba(153,153,153,1) 84%, rgba(155,155,155,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: Akzidenz-Grotesk, Helvetica, Arial, sans-serif;
}

p {
    font-family: Akzidenz-Grotesk, Helvetica, Arial, sans-serif;
}

.wordart {
    font-family: Arial, sans-serif;
    font-size: 4em;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
@keyframes wobble {
    0%, 100% { transform: rotate(0.25deg) translateY(3px); }
    50% { transform: rotate(-0.25deg) translateY(-3px);}
}

.wordart.blues .text {
    font-family: Impact, sans-serif;
    color: rgb(178, 178, 178);
    -webkit-text-stroke: 0.01em rgb(131, 131, 131);
    filter: progid:DXImageTransform.Microsoft.Glow(Color=rgb(131, 131, 131),Strength=1);
    text-shadow: 0.13em -0.13em 0px rgb(131, 131, 131);
    letter-spacing: -0.05em;
}

.wobble {
    transform: rotate(0deg);
    transform-origin: center;
    animation: wobble 1.5s infinite ease-in-out;
}

.topnav {
    background-color: #404040;
    overflow: hidden;
}

.wrapper .sidebar{
    background: #adadad;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
}

.main {
    padding-left: 225px;
}

.links {
    padding-left: 5.5%;
}

.links-padding {
    padding-bottom: 1%;
    padding-top: 1%;
}

.left {
    width: 45%;
    float: left;
}

.right {
    padding: 1.0%;
    float: right;
}

p {
    word-wrap: break-word;
}