body {
    background: linear-gradient(0deg, rgba(214,225,234,1) 0%, rgba(173,194,213,1) 20%, rgba(153,179,203,1) 36%, rgba(132,164,192,1) 52%, rgba(112,149,181,1) 68%, rgba(91,133,170,1) 84%, rgba(80,120,155,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
}

p {
    font-family: Helvetica, Arial, sans-serif;
}

.wordart {
    font-family: Arial, sans-serif;
    font-size: 4em;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
@keyframes woble {
    0% { transform: rotate(0deg) ; }
    25% { transform: rotate(0.25deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-0.25deg); }
    100% { transform: rotate(0deg); }
  }

.wordart.blues .text {
    font-family: Impact, sans-serif;
    color: #99b3cb;
    -webkit-text-stroke: 0.01em #5b85aa;
    filter: progid:DXImageTransform.Microsoft.Glow(Color=#5b85aa,Strength=1);
    text-shadow: 0.13em -0.13em 0px #5b85aa;
    letter-spacing: -0.05em;
}

.wobble {
    transform: rotate(0deg);
    transform-origin: center;
    animation: woble 3s infinite linear;
}

.topnav {
    background-color: #404040;
    overflow: hidden;
}

.wrapper .sidebar{
    background: #adadad;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
}

.main {
    padding-left: 225px;
}

.links {
    padding-left: 5.5%;
}

.links-padding {
    padding-bottom: 1%;
    padding-top: 1%;
}

.left {
    width: 45%;
    float: left;
}

.right {
    padding: 1.0%;
    float: right;
}

p {
    word-wrap: break-word;
}