body {
    background: linear-gradient(0deg, rgba(225,225,225,1) 0%, rgba(213,213,213,1) 20%, rgba(203, 203,203,1) 36%, rgba(162,162,162,1) 52%, rgba(150,150,150,1) 68%, rgba(153,153,153,1) 84%, rgba(155,155,155,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    word-wrap: break-word;    
}

/* started using opera gx and apparently the bold font messes up the entire title in opera gx */
.wordart {
    font-family: Arial, sans-serif;
    font-size: 4em;
    position: relative;
    z-index: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
@keyframes wobble {
    0%, 100% { transform: rotate(0.25deg) translateY(3px); }
    50% { transform: rotate(-0.25deg) translateY(-3px);}
}

.wordart.blues .text {
    font-family: Impact, sans-serif;
    color: rgb(178, 178, 178);
    -webkit-text-stroke: 0.01em rgb(131, 131, 131);
    filter: progid:DXImageTransform.Microsoft.Glow(Color=rgb(131, 131, 131),Strength=1);
    text-shadow: 0.13em -0.13em 0px rgb(131, 131, 131);
    letter-spacing: -0.05em;
}

.wobble {
    transform: rotate(0deg);
    transform-origin: center;
    animation: wobble 1.5s infinite ease-in-out;
}

/* fun fact: .topnav was always meant to be in front of .sidebar so i fixed it */

.topnav {
    background-color: #404040;
    /*overflow: hidden;*/ /* i have no idea what this line does so i commented out */
    position: fixed;
    width: 100%;
}

@media only screen and (min-width: 589px) {
    .wrapper .sidebar{
        background: #adadad;
        position: fixed;
        top: 0;
        left: 0;
        width: 325px;
        height: 100%;
        padding-top: 25px;
    }
}

@media only screen and (max-width: 588px) {
    .wrapper .sidebar{
        background: #adadad;
        position: fixed;
        top: 0;
        left: 0;
        width: 325px;
        height: 100%;
        padding-top: 100px;
    }
}

.main {
    padding-top: 65px;
    padding-left: 325px;
}

.links {
    padding-left: 5.5%;
    padding-right: 5.5%;
}

.links-padding {
    padding-right: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.left {
    width: 45%;
    float: left;
}

.right {
    padding: 1.0%;
    float: right;
}

.sr20det {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-top: 2.5%;
}