/*mostly just the same as the original style.css*/

body {
    background: linear-gradient(0deg, rgba(225,225,225,1) 0%, rgba(213,213,213,1) 20%, rgba(203, 203,203,1) 36%, rgba(162,162,162,1) 52%, rgba(150,150,150,1) 68%, rgba(153,153,153,1) 84%, rgba(155,155,155,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    word-wrap: break-word;
}

.song {
    display: flex;
    width: 50%;
}

.left {
    width: 30%;
}

.right {
    padding-left: 1%;
    flex: 1;
}